extends layout

block content
  h2 共演回数一覧
    p 共演回数は#{togcount}回です。
  h2 共演イベント一覧
    table
      caption
        p 共演したイベント名の一覧です。
      thead
        tr
          th イベント名
      tbody
        each event in eventlist
          tr
            td #{event.name}
